# GITHUB_API
GITHUB_API_URL = "https://api.github.com"
GITHUB_TOKEN = "<YOUR_GITHUB_TOKEN>"

# Config
REVIEWER="<YOUR_GITHUB_USERNAME>"

# GOOGLE_SHEET
GOOGLE_KEY_JSON_PATH="google-sheet-credential.json"
SPREAD_SHEET_ID="XXXXX"
